table {
    /* width: 50%; */
    border-collapse: collapse;
}

th,
td {
    border-style: solid;
    border-width: 1px;
}

th {
    border-color: #8ee7ec;
    padding: 5px;
    background-color: #8ee7ec;
    color: grey;
}

td {
    border-color: aquamarine;
    text-align: center;
    padding: 5px;
}