.color-white {
    color: #fff;
}

.color-orange {
    color: #ff6709;
}

.bg-white {
    background-color: #fff;
}

.bg-orange {
    background-image: #ff6709;
}

.bg-grey {
    background-color: #f5f5f5;
}

.font-mi {
    font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
}

.taiwan {
    font-size: 14pt;
}

#home {
    font-weight: 600;
}

.fa-shopping-cart {
    font-size: 30px;
}

#img1 {
    background-size: cover;
    width: auto;
    height: 460px;
    background-image: url('https://download.appmifile.com/963_operator_in/21/05/2019/79dec2d6-8207-4d08-9160-92391c2144a5.jpg?width=1226&height=460');
}

#img2 {
    background-size: cover;
    width: auto;
    height: 460px;
    background-image: url('https://download.appmifile.com/939_operator_in/12/05/2019/58895efa-bdc2-4bf6-9241-9b18d8c2e39f.jpg?width=1226&height=460');
}

#img3 {
    background-size: cover;
    width: auto;
    height: 460px;
    background-image: url('https://i01.appmifile.com/webfile/globalimg/yy/PCB-yanchangxian.jpg?width=1226&height=460');
}

.carousel-indicators>li {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.jumbotron {
    margin-bottom: 5px;
    padding-bottom: 100px;
    padding-top: 160px;
}

#img10 {
    height: 60px;
    padding-bottom: 10px;
}

.text-small {
    font-size: 13pt;
    font-weight: 700;
}

.carousel {
    margin-bottom: 5px;
}

a {
    color: #ff6709;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ff6709;
}

.item-shop {
    font-size: 14px;
    color: #ff6709;
}

#insert {
    background-color: #ff6709;
}

.page-item.active .page-link {
    background-color: #ff6709;
    border-color: #ff6709;
}

.page-link {
    color: #ff6709;
    margin: 5px;
    border-radius: 50%;
    font-size: 10pt;
}

footer {
    border-top: 1px solid #ff6709;
    margin-top: 50px;
    margin-top: 50px;
    border-top-style: solid;
}

.name {
    font-size: 14px;
    margin: 0 20px 3px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
    color: rgb(33, 33, 33);
    line-height: 1.5;
    text-align: center;
}

p.price {
    color: #ff6709;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

.image {
    width: 160px;
    height: 160px;
    margin-top: 0;
    margin-bottom: 22px;
    margin-left: 37px;
    margin-right: 37px;
}

.item {
    position: relative;
    border: none;
    background-color: #fff;
    text-align: center;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    margin-bottom: 20px;
    margin-left: 14px;
    margin-right: 0;
    margin-top: 0;
    padding-top: 34px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}

.item:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transform: translate3d(0, -2px, 0);
    /* 動畫x y z */
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
    /*transition-timing-functon 設定時間均勻(linear 線性) */
    cursor: pointer;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #ff6709;
    color: white;
}